@charset "utf-8";
.fondo {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	color: #000;
	background-color: #008080;
	background-image: url(corazon.jpg);
}
.t2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
}
